<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-4 text-gray-800">
                <?= $sub_title . ' | ' . $main_title ?>
            </h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h2 class="h3 mb-0 text-gray-800">Daftar Data
                            <?= $sub_title ?>
                        </h2>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            data-toggle="modal" data-target="#tambah_akun">
                            <i class="fas fa-plus fa-sm text-white-50"></i> Tambah
                            <?= $sub_title ?> Baru
                        </a>
                    </div>
                    <!-- Notifikasi form validasi -->
                    <?= $this->session->flashdata('message') ?>
                    <!-- Notifikasi form validasi -->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bouered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Icon</th>
                                    <th>Kategori</th>
                                    <th>Nama Akun</th>
                                    <th>Deskripsi Akun</th>
                                    <th>Tanggal Buat</th>
                                    <th>Status</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Icon</th>
                                    <th>Kategori</th>
                                    <th>Nama Akun</th>
                                    <th>Deskripsi Akun</th>
                                    <th>Tanggal Buat</th>
                                    <th>Status</th>
                                    <th>Aksi</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <?php $no = 1;
                                foreach ($akun as $ak) : ?>
                                <tr>
                                    <td class="text-center">
                                        <?= $no++ ?>
                                    </td>
                                    <td class="text-left">
                                        <div class="mb-3">
                                            <img id="preview" src="<?= base_url('assets/img/manajemen/' . $ak['icon_akun']) ?>" alt="Preview Icon" style="max-width: 50px; max-height: 50px;">
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <?= $ak['nama_kategori'] ? $ak['nama_kategori'] : '-' ?>
                                    </td>
                                    <td class="text-left">
                                        <?= $ak['nama_akun'] ? $ak['nama_akun'] : '-' ?>
                                    </td>
                                    <td class="text-left">
                                        <?= $ak['deskripsi_akun'] ? $ak['deskripsi_akun'] : '-' ?>
                                    </td>
                                    <td class="text-left">
                                        <?= $ak['mdd'] ? $ak['mdd'] : '-' ?>
                                    </td>
                                    <td class="text-left">
                                        <!-- badge -->
                                        <span class="badge badge-<?= $ak['status'] == '0' ? 'danger' : 'success' ?>">
                                            <?= $ak['status'] == '0' ? 'Tidak Aktif' : 'Aktif' ?>
                                        </span>
                                    </td>


                                    <td class="text-center d-flex align-items-center">
                                        <a href=""
                                            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-1"
                                            data-toggle="modal" data-target="#view_akun_<?= $ak['id_akun'] ?>">
                                            <i class="fas fa-eye fa-xs text-white-50"></i>
                                        </a>
                                        <a href=""
                                            class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm mr-1"
                                            data-toggle="modal" data-target="#edit_akun_<?= $ak['id_akun'] ?>">
                                            <i class="fas fa-edit fa-xs text-white-50"></i>
                                        </a>
                                        <a href="<?= base_url('trial/invalid/manajemen/hapus_akun/') . $ak['id_akun'] ?>"
                                            class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"
                                            onclick="konfirmasiHapus(event)">
                                            <i class="fas fa-trash fa-xs text-white-50"></i>
                                        </a>
                                    </td>
                                </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
</div>


<!-- Modals Add Akun -->
<div class="modal fade bd-example-modal-lg" id="tambah_akun" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Tambah Data
                    <?= $sub_title ?> Baru
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Form Tambah Data Akun -->
                <form action="<?= base_url('trial/invalid/manajemen/tambah_proses') ?>" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Icon Akun</b></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="icon_akun" id="customFile" onchange="showAddFileName(event)">
                                <label class="custom-file-label" for="customFile">Pilih file</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Nama Akun</b></label>
                            <input type="text" class="form-control" name="nama_akun"
                                value="<?= set_value('nama_akun') ?>" placeholder="Nama Akun" id="" required>
                            <?= form_error('nama_akun', '<small class="text-danger pl-3">', '</small>') ?>
                            <small class="text-danger pl-2">Wajib diisi</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Kategori</b></label>
                            <select name="id_kategori" id="" class="form-control select2" required>
                                <option value="">- Pilih Kategori -</option>
                                <?php foreach ($kategori as $k) : ?>
                                    <option value="<?= $k['id_kategori'] ?>"><?= $k['nama_kategori'] ?></option>
                                <?php endforeach; ?>
                            </select>
                            <small class="text-danger pl-2">Wajib diisi</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Ponsel</b></label>
                            <select name="id_phone" id="" class="form-control select2">
                                <option value="">- Pilih Ponsel -</option>
                                <?php foreach ($ponsel as $p) : ?>
                                    <option value="<?= $p['id_phone'] ?>"><?= $p['nama_phone'] ?> [ <?= $p['phone'] ?> ]</option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Mail</b></label>
                            <select name="id_mail" id="" class="form-control select2">
                                <option value="">- Pilih Mail -</option>
                                <?php foreach ($mail as $m) : ?>
                                    <option value="<?= $m['id_mail'] ?>"><?= $m['nama_mail'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Deskripsi Akun</b></label>
                            <textarea type="text" class="form-control" name="deskripsi_akun"
                                placeholder="Deskripsi Akun" id="" required></textarea>
                            <?= form_error('deskripsi_akun', '<small class="text-danger pl-3">', '</small>') ?>
                            <small class="text-danger pl-2">Wajib diisi</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Status Akun</b></label>
                            <select class="form-control" name="status" id="" required>
                                <option value="">-- Pilih Status --</option>
                                <option value="1">Aktif</option>
                                <option value="0">Tidak Aktif</option>
                            </select>
                            <small class="text-danger pl-2">Wajib diisi</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Password</b></label>
                            <input type="password" class="form-control" name="password" placeholder="Password" id="">
                            <?= form_error('password', '<small class="text-danger pl-3">', '</small>') ?>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Simpan Data
                            <?= $sub_title ?>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->
        </div>
    </div>
</div>
<!-- End Modals Add Akun -->

<?php foreach($akun as $ak): ?>
<!-- Modals Edit Akun -->
<div class="modal fade bd-example-modal-lg" id="edit_akun_<?= $ak['id_akun'] ?>" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Edit Data
                    <?= $sub_title ?> Baru
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Form Edit Data Akun -->
                <form action="<?= base_url('trial/invalid/manajemen/edit_proses') ?>" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id_akun" value="<?= $ak['id_akun'] ?>">

                    <div class="row">
                        <div class="col-2">
                            <div class="">
                                <img id="preview" src="<?= base_url('assets/img/manajemen/' . $ak['icon_akun']) ?>" alt="Preview Icon" style="max-width: 100px; max-height: 100px;">
                            </div>
                        </div>
                        <div class="col-10">
                            <label class="col-form-label"><b>Icon Akun</b></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="icon_akun" id="customFile" onchange="showAddFileName(event)">
                                <label class="custom-file-label" for="customFile">Pilih file</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Nama Akun</b></label>
                            <input type="text" class="form-control" name="nama_akun" value="<?= $ak['nama_akun'] ?>"
                                placeholder="Nama Akun" id="" required>
                            <?= form_error('nama_akun', '<small class="text-danger pl-3">', '</small>') ?>
                            <small class="text-danger pl-2">Wajib diisi</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label"><b>Kategori</b></label>
                            <select name="id_kategori" id="" class="form-control select2" required>
                                <option value="">- Pilih Kategori -</option>
                                <?php foreach ($kategori as $k) : ?>
                                    <option value="<?= $k['id_kategori'] ?>" <?= $ak['id_kategori'] == $k['id_kategori'] ? 'selected' : ''?>><?= $k['nama_kategori'] ?></option>
                                <?php endforeach; ?>
                            </select>
                            <small class="text-danger pl-2">Wajib diisi</small>
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label"><b>Ponsel</b></label>
                            <select name="id_phone" id="" class="form-control select2">
                                <option value="">- Pilih Ponsel -</option>
                                <?php foreach ($ponsel as $p) : ?>
                                    <option value="<?= $p['id_phone'] ?>" <?= $ak['id_phone'] == $p['id_phone'] ? 'selected' : ''?>><?= $p['nama_phone']?> [ <?= $p['phone'] ?> ]</option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Mail</b></label>
                            <select name="id_mail" id="" class="form-control select2">
                                <option value="">- Pilih Mail -</option>
                                <?php foreach ($mail as $m) : ?>
                                    <option value="<?= $m['id_mail'] ?>" <?= $ak['id_mail'] == $m['id_mail'] ? 'selected' : ''?>><?= $m['nama_mail'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Deskripsi Akun</b></label>
                            <textarea type="text" class="form-control" name="deskripsi_akun"
                                placeholder="Deskripsi Akun" id="" required> <?= $ak['deskripsi_akun'] ?> </textarea>
                            <?= form_error('deskripsi_akun', '<small class="text-danger pl-3">', '</small>') ?>
                            <small class="text-danger pl-2">Wajib diisi</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Status Akun</b></label>
                            <select class="form-control" name="status" id="" required>
                                <option value="">-- Pilih Status --</option>
                                <option value="1" <?= $ak['status'] == '1' ? 'selected' : '' ?>>Aktif</option>
                                <option value="0" <?= $ak['status'] == '0' ? 'selected' : '' ?>>Tidak Aktif</option>
                            </select>
                            <small class="text-danger pl-2">Wajib diisi</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label class="col-form-label"><b>Password Akun</b></label>
                            <?php foreach( $ak['psw'] as $key => $pw): ?>
                                <?php $count = count($ak['psw']) - 1?>
                                    <input type="text" class="form-control mb-2" name="<?= $key == $count ? 'password' : '' ?>" value="<?= $pw['password'] ?>" <?= $key != $count ? 'disabled' : '' ?> <?= $key == $count ? 'required' : '' ?>>
                            <?php endforeach; ?>
                            <?= form_error('password', '<small class="text-danger pl-3">', '</small>') ?>
                            <small class="text-danger pl-2">Wajib diisi</small>
                        </div>
                    </div>

                    <input type="hidden" name="old_password" value="<?= $ak['psw'][$count]['password'] ?>">
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Simpan Data
                            <?= $sub_title ?>
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->
        </div>
    </div>
</div>
<?php endforeach; ?>
<!-- End Modals Edit Akun -->

<!-- Modals View Akun-->
<?php foreach ($akun as $ak) : ?>
<div class="modal fade bd-example-modal-lg" id="view_akun_<?= $ak['id_akun'] ?>" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title">Detail Data Akun</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-2">
                        <div class="mb-3">
                            <img id="preview" src="<?= base_url('assets/img/manajemen/' . $ak['icon_akun']) ?>" alt="Preview Icon" style="max-width: 100px; max-height: 100px;">
                        </div>
                    </div>
                    <div class="col-10">
                        <label class="col-form-label"><b>Nama Akun</b></label>
                        <input type="text" class="form-control" value="<?= $ak['nama_akun'] ?>" id="" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label"><b>Kategori</b></label>
                        <input type="text" class="form-control" value="<?= $ak['nama_kategori'] ?>" id="" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label"><b>Ponsel</b></label>
                        <input type="text" class="form-control" value=" <?php if(!empty($ak['id_phone'])) : ?> <?= $ak['nama_phone'] ?> [ <?= $ak['phone'] ?> ] <?php else: ?> - <?php endif; ?>" id="" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label"><b>Mail</b></label>
                        <input type="text" class="form-control" value="<?php if(!empty($ak['id_mail'])) : ?> <?= $ak['nama_mail'] ?> [ <?= $ak['nama_mail'] ?> ] <?php else: ?> - <?php endif; ?>" id="" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label"><b>Deskripsi Akun</b></label>
                        <textarea type="text" class="form-control" id="" disabled> <?= $ak['deskripsi_akun'] ?> </textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label"><b>Status</b></label>
                        <input type="text" class="form-control" value="<?= $ak['status'] == '0' ? 'Tidak Aktif' : 'Aktif' ?>"
                            id="" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="col-form-label"><b>Password</b></label>
                        <?php foreach( $ak['psw'] as $key => $pw): ?>
                            <div class="row">
                                <div class="col-8 mb-2">
                                    <input type="text" class="form-control <?= $pw['old'] == 'T' ? 'text-danger' : 'text-secondary ' ?>" value="<?= $pw['password'] ?>" id="" disabled>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control <?= $pw['old'] == 'T' ? 'text-danger' : 'text-secondary ' ?>" value="<?= $pw['mdd_token'] ?>" id="" disabled>
                                </div>
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>

                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                </div>
            </div>
            <!-- Modal Footer -->
        </div>
    </div>
</div>
<?php endforeach; ?>


<script src="<?= base_url('assets/'); ?>vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">
    // Select 2
    $(document).ready(function () {
        $(".select2").select2({
            theme: 'bootstrap4',
        });
    });

    //  Menampilkan nama file setelah memilih file foto profile 
    function showAddFileName(event) {
        var input = event.target;
        var fileName = input.files[0].name;
        var label = input.nextElementSibling;
        label.innerText = fileName;
    }

    function showEditFileName(event) {
        var input = event.target;
        var fileName = input.files[0].name;
        var label = input.nextElementSibling;
        label.innerText = fileName;
    }

    //  Konfirmasi Hapus
    function konfirmasiHapus(e) {
        e.preventDefault();
        var urlToRedirect = e.currentTarget.getAttribute('href');
        Swal.fire({
            icon: 'question',
            text: 'Apakah data ini ingin dihapus secara permanen ?',
            title: 'Konfirmasi Hapus',
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonColor: '#ef4523',
            confirmButtonText: 'Hapus',
            cancelButtonText: 'Batal',
            denyButtonText: `Don't save`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                window.location.href = urlToRedirect;
            }
        })
    }

    // Dataatable
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "pageLength": 100
        });
    });
</script>